<div class="grid-container">
  <h1 class="mat-h1">Summary</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile
      *ngFor="let card of cards | async; let i = index"
      [colspan]="card.cols"
      [rowspan]="card.rows"
    >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{ card.title }}
            <!-- <button
              mat-icon-button
              class="more-button"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu> -->
          </mat-card-title>
        </mat-card-header>
        <!-- Getting Started -->
        <mat-card-content class="dashboard-card-content" *ngIf="i === 0">
          <button mat-stroked-button color="primary" routerLink="/match">
            Start a match
          </button>
          <button mat-stroked-button color="accent">Start a tour</button>
        </mat-card-content>

        <!-- Latest Mathc -->
        <mat-card-content class="dashboard-card-content" *ngIf="i === 1">
          <div>No match played.</div>
        </mat-card-content>

        <!-- Top Players -->
        <mat-card-content class="dashboard-card-content" *ngIf="i === 2">
          <div>No player has been added.</div>
        </mat-card-content>

        <!-- Latest Tour -->
        <mat-card-content class="dashboard-card-content" *ngIf="i === 3">
          <div>No tour recorded.</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
